<div class="container p-5">
  <div class="row">
    
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="mx-auto">
                <div class="card-body">
                  <div class="form-group ">
                      <form action="/links/sell_done" method="post">
                            <Label><h5>Seleccione la persona encargada de la comision: </h5></Label><br>
                            <select name="vendedor" required>
                                {{#each vendedor}}
                                <option>{{vend_nombre}}</option> 
                                {{/each}}                       
                            </select>
                            <br>
                            <br>
                           
                            <Label><h5>Introduzca el username del cliente: </h5></Label><br>
                            <input type="text" name="cliente" id="">
                             <br>
                              <br>
                             <div class="mx-auto"> 
                                <button class="btn btn-block btn-primary">Generar Factura y Confirmar Venta</button>
                                <a class="btn btn-block btn-danger" href="/links/shopping_car">Regresar</a>
                                
                            </div>   
                            </form>
                        </div>
                </div>
       </div>
    </div>
</div>
</div>
</div>